<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.modou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <application
        android:name=".ui.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.home.ParkingManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.PublicReapairActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activity.home.MyKeyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.CouponActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.WalletActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.BankCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.mine.BindBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.SetPayPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mine.BillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.home.PropertyPaymentActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.home.SelectVillageActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.home.HouseholdServiceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.HomeApplianceRepairActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.RegisterActivity" />
    </application>

</manifest>